
<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header card-header">
        <h4 class="modal-title">New Order</h4>
        <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row" style="margin: 20px;">
          <div class="col-md-3">
            <label for="date-input">Order Date</label>
            <input
              class="form-control"
              id="date-input"
              type="date"
              name="date-input"
              placeholder="date"
            />
          </div>
        </div>
        <div class="form-group row" style="margin: 20px;" >
          <div class="form-group col-md-5">
            <label for="company">Customer Name</label>
            <input
              type="text"
              class="form-control"
              id="company"
              placeholder="Customer Name"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="company">Contact</label>
            <input
              type="text"
              class="form-control"
              id="company"
              placeholder="Contact"
            />
          </div>
        </div>
        <div class="table" style="border-bottom: 2px solid grey;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product</th>
                <th>Rate</th>
                <th>Available Quantity</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Add</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group">
                    <select id="select1" name="select1" class="form-control" (change)= "onChange($event)">
                      <option value = "0">Select Medicine</option>
                      <option [value]="medicine?._id" *ngFor="let medicine of medicines">{{medicine?.productName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="rate" disabled [(ngModel)] = "rate"/>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="available" disabled [(ngModel)] = "quantity" />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="quantity" (change)= "onQuant($event)"/>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control" id="total" disabled [(ngModel)] = "total" />
                  </div>
                </td>
                <td>
                  <Button class="btn btn-success"
                  (click)="onAdd()"
                    ><span class="cil-cart"></span
                  ></Button>
                </td>
              </tr>
              <tr *ngFor="let orderitem of orderList">
                  <td>{{orderitem?.medicine}}</td>
                  <td>{{orderitem?.rate}}</td>
                  <td></td>
                  <td>{{orderitem?.orderQuantity}}</td>
                  <td>{{orderitem?.total}}</td>
                  <td>
                      <button class="btn btn-danger"><span class="cil-trash"></span></button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group row" style="margin:20px;">
          <div class="col-md-5">
            <div class="form-group">
              <label for="subtotal">Sub Total</label>
              <input type="text" class="form-control" id="subtotal" disabled [(ngModel)] = "subTotal" />
            </div>
            <div class="form-group">
              <label for="gst">GST</label>
              <input
                type="text"
                class="form-control"
                id="gst"
                placeholder="GST %"
                (change) = "onGst($event)"
              />
            </div>
            <div class="form-group">
              <label for="total">Total</label>
              <input type="text" class="form-control" id="total" disabled [(ngModel)] = "gstTotal" />
            </div>
            <div class="form-group">
              <label for="discount">Discount</label>
              <input
                type="text"
                class="form-control"
                id="discount"
                placeholder="Discount %"
                (change) = "onDiscount($event)"
              />
            </div>
            <div class="form-group">
              <label for="grandtotal">Grand Total</label>
              <input type="text" class="form-control" id="grangtotal" disabled [(ngModel)] = "grandTotal"/>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="paidamount">Paid Amount</label>
              <input
                type="text"
                class="form-control"
                id="paidamount"
                placeholder="Amount"
              />
            </div>
            <div class="form-group">
              <label for="dueamount">Due Amount</label>
              <input type="text" class="form-control" id="dueamount" disabled />
            </div>
            <div class="form-group">
              <label for="paymentType">Payment Type</label>
              <select id="select1" name="select1" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Cash</option>
                <option value="2">Card</option>
                <option value="3">UPI</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary col-md-3">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger col-md-3">
          <i class="fa fa-ban"></i> Reset
        </button>
        <button type="button" class="btn btn-secondary col-md-3" (click)="largeModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="card">
  <div class="card-header">
    <h6>Order datails</h6>
  </div>
  <div class="card-body">
    <div class="header row" style="margin-bottom: 20px;">
      <div class="input-group col-md-3">
          <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Orders">
          <span class="input-group-append">
              <button type="button" class="btn btn-primary btn-pill"><i class="fa fa-search"></i> Search</button>
          </span>
      </div>
      <button type="button" class="btn btn-pill btn-secondary mr-1 col-md-3" data-toggle="modal" (click)="largeModal.show()">
        New Order
      </button>
    </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Order Date</th>
        <th>Customer Name</th>
        <th>Contact</th>
        <th>Total Order Item</th>
        <th>Payment status</th>
        <th>update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2</td>
        <td>12/05/2023</td>
        <td>Ballu</td>
        <td>1234567890</td>
        <td>75</td>
        <td>full payment</td>
        <td>
          <div class="update row">
              <button class="btn btn-sm btn-secondary btn-pill ">Edit</button>
              <button class="btn btn-sm btn-danger btn-pill"><span class="cil-trash"></span></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div class="card-footer">
  <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Prev</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>