<div class="card">
    <div class="card-header">
      <h6>Available Categories</h6>
    </div>
    <div class="card-body">
        <div class="header row" style="margin-bottom: 20px;">
          <div class="input-group col-md-3">
              <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Categories">
              <span class="input-group-append">
                  <button type="button" class="btn btn-primary btn-pill"><i class="fa fa-search"></i> Search</button>
              </span>
          </div>
        </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Category</th>
            <th>status</th>
            <th>update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12</td>
            <td>Cadila</td>
            <td>
              <span class="badge badge-success">Avail</span>
            </td>
            <td>
              <div class="update row">
                  <button class="btn btn-sm btn-secondary btn-pill ">Edit</button>
                  <button class="btn btn-sm btn-danger btn-pill"><span class="cil-trash"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <div class="card-footer">
      <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
  </div>
