<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header card-header">
        <h4 class="modal-title">Add New category</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="medicineAddForm" [formGroup]="addCategoryForm">
        <div class="form-group row" style="margin: 20px">
          <div class="col-md-5">
            <div class="form-group">
              <label for="date-input">Description</label>
              <input
                class="form-control"
                id="date-input"
                type="text"
                name="date-input"
                placeholder="desc"
                formControlName="desc"
              />
            </div>
            <div class="form-group">
              <label for="company">Status</label>
              <select
                id="select1"
                name="select1"
                class="form-control"
                placeholder ="Select Status"
                (change)= "onChang($event)"

              >
                <option value = "0">
                  Select Status
                </option>
                <option [value] = "true">
                  Available
                </option>
                <option [value] = "false">
                  Not Available
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="company">Category</label>
              <input
                type="text"
                class="form-control"
                id="company"
                placeholder="category"
                formControlName="category"
              />
            </div>

            <div class="form-group">
              <label for="company">Other</label>
              <input
                type="text"
                class="form-control"
                id="other"
                formControlName="other"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-primary col-md-3"
          (click)="submit()"
          type="submit"
          form:submit
        >
          <i class="fa fa-dot-circle-o"></i> Add
        </button>
        <button type="reset" class="btn btn-danger col-md-3" (click)= "reSet()">
          <i class="fa fa-ban"></i> Reset
        </button>
        <button type="button" class="btn btn-secondary col-md-3" (click)="myModal.hide()">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="card">
    <div class="card-header">
      <h6>Available Categories</h6>
    </div>
    <div class="card-body">
        <div class="header row" style="margin-bottom: 20px;">
          <div class="input-group col-md-3">
              <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search Categories">
              <span class="input-group-append">
                  <button type="button" class="btn btn-primary btn-pill"><i class="fa fa-search"></i> Search</button>
              </span>
          </div>
          <button type="button" class="btn btn-pill btn-secondary mr-1 col-md-3" data-toggle="modal" (click)="myModal.show()">
            Add New Category
          </button>
        </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Category</th>
            <th>Description</th>
            <th>status</th>
            <th>update</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let category of categories; let i = index">
            <td>{{i + 1}}</td>
            <td>{{category?.category}}</td>
            <td> {{category?.desc}} </td>
            <td>
              <span class="badge"
              [class.badge-success]="category?.status"
              [class.badge-danger]="!category?.status"
              >{{category?.status?'Available':'NotAvailable'}}</span>
            </td>
            <td>
              <div class="update row">
                  <button class="btn btn-sm btn-secondary btn-pill ">Edit</button>
                  <button class="btn btn-sm btn-danger btn-pill" (click) = "deletCategory(category._id)"><span class="cil-trash"></span></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <div class="card-footer">
      <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
  </div>
